@use "index"as *;
@use 'theme';

html {
    scroll-behavior: smooth;
    background-color: var(--theme-color); 
    transition: background-color 1s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: $font-family-base;
    background-color: transparent;
    color: var(--text-primary);

    transition: 1s color ease;
}

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    padding: $container-padding;
}


input,
textarea,
button {
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: transparent;
}

button {
    cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
    
    transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}