@font-face {
    font-family: 'Inter';
    src: url(@/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Exbed';
    src: url(@/assets/fonts/Exbed/Exbed.ttf);
}

@font-face {
    font-family: 'Exo2';
    src: url(@/assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Azonix';
    src: url(@/assets/fonts/Azonix/Azonix.otf);
}